/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.*
BEEM API Secret Key OGQ1OGRhODI3ZWNmODc1ZGNjM2FkZDljNDVmNzc5OGI3MjRhOWVkNWNkYzQyOGYzZTgxNDE2ZTg5NGFiZDJlNw==

git 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